{
  "bootstrapped": true,
  "in_process_packages":
  [
  ],  
  "installed_packages":
  [
         "Neon Color Scheme",
  <% @packages.each do |package| %>
         "<%= "#{package['name']}" %>",
  <% end %>
  ]
}
